# Activation du moteur de réécriture
RewriteEngine On
RewriteBase /

# Redirection HTTP à HTTPS et non-www à www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^dev2ls\.fr [NC]
RewriteRule ^(.*)$ https://www.dev2ls.fr/$1 [L,R=301]

# Protection des fichiers sensibles
<FilesMatch "^\.htaccess|\.env">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Désactiver le listing des répertoires
Options -Indexes