# Activation du moteur de réécriture
RewriteEngine On
RewriteBase /

# Redirection de HTTP à HTTPS si nécessaire
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirection de non-www à www si nécessaire
RewriteCond %{HTTP_HOST} ^dev2ls\.fr [NC]
RewriteRule ^(.*)$ https://www.dev2ls.fr/$1 [L,R=301]

# Protection des fichiers sensibles
<FilesMatch "^\.htaccess|\.env">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Désactiver le listing des répertoires
Options -Indexes
